*{
	margin: 0;
	padding: 0;
}
.navbar{
	background-color: black;
	background-image: linear-gradient(to right,);
	border: 2px dotted white ;
	height: 40px;
	color: white;
}
.myname{
	font-size: 30px;
	margin-top: 4px;	
}
.navitems{
	list-style-type: none;
	
}

.liItems{
	float: left;
	padding-left: 10px;

}
#items1{
	padding-left: 670px;
	 font-size: 20px;
	 margin-top: 8px;
}
.items234{
	padding-left: 30px;
	font-size: 20px;
    margin-top: 8px;
}
.intro{
	height: 600px;
	width: 100%;
	border:2px solid red ;

}
.hi{
	margin-left: 600px;
	margin-top: -250px;
	font-size: 30px;


}
#hiimg{
	height: 40px;
	width: 40px;
	transform: rotate(30deg);



}
#myname{
	margin-left: 30px;




}
#desg{
	margin-left: 60px;


}
#myimage{
	margin-top: 50px;
	margin-left: 40px;
	height: 300px;
}
.logo{
	margin-left: 600px;
	margin-top: 170px;
	padding-bottom: 100px;
}
/*#javalogo{
	height: 130px;
	width: 120px;
	margin-left: 600px;
	margin-top: 10px;
	margin-bottom: 120px;
}
#htmllogo{
	height: 120px;
	width: 90px;
	padding-left: 10px;
	margin-top: -5px;	
	margin-bottom: 120px;

}
#csslogo{
	height: 130px;
	width: 150px;
	padding-left: 10px;
	margin-top: 170px;
	margin-bottom: 120px;

}*/

.about{

	height: 800px;
	width: 100%;
	background-color:beige;
}
.contact{

	height: 1000px;
	width: 100%;
	background-color:black;
}
.project{

	height: 700px;
	width: 100%;
	background-color: brown;
}
