*{
	margin: 0;
	padding: 0;
}
html
{
	scroll-behavior: smooth;
}

.navbar{
	background-color: black;
	border: 0.328vh solid white ;
	height: 6.568vh;
	color: white;
	position: fixed;
	width: 100%;
	background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 2%, rgba(210,87,199,1) 100%);
}
.myname{
	font-size: 47px;
	margin-top: -10px;	
}
.navitems{
	list-style-type: none;
	
}

.liItems{
	float: left;
	padding-left: 20px;

}
#items1{
	padding-left: 670px;
	 font-size: 20px;
	 margin-top: 8px;
}
.items234{
	padding-left: 90px;
	font-size: 20px;
    margin-top: 8px;
}
.intro{
	height: 98.52vh;
	width: 100%;
	border:2px solid red ;

}
.hi{
	margin-left: 600px;
	margin-top: -250px;
	font-size: 30px;


}
#hiimg{
	height: 6.56vh;
	width: 6.56vh;
	transform: rotate(30deg);



}
#myname{
	margin-left: 30px;
	
}

#desg{
	margin-left: 60px;


}
#myimage{
	margin-top: 50px;
	margin-left: 40px;
	height: 300px;
}
.logo{
	padding-top: 0px;
	}

.about{

	height: 164.2vh;
	width: 100%;
	background-color:beige;
}


#abtimage{
	padding-left: 50px;
	padding-top: 50px;

}
.myinfo{
	position: relative;
	top: -80px;
}
#abtsec{
	margin-top: -260px;
	margin-left: 600px;
	margin-right: 40px;
	text-align: justify;
	font-size: 20px;
	text-indent: 50px;
}
.myexp
{
	margin-top: 60px;
	margin-left: 10px;
	margin-right: 700px;
	text-align: justify;
}
.ex2
{
	position: relative;
	top: -400px;
}
.skills
{
	position: relative;
	top:-190px;
	left: 700px;
	border-radius: 100px;
}
.javalogo
{
	position: relative;
	top: -450px;
}
.sqllogo
{
	position: relative;
	top: -405px;
	border-radius: 100px;
}
.approch
{
	position: relative;
	top: -600px;
}
.contact
{
	height: 164.2vh;
	width: 100%;
	background-color:black;
}
.project{

	height: 114.94vh;
	width: 100%;
	background-color: brown;
}
